

.input-field {
    position: relative;
    width: 100%;
    height: 40px;
}

.input-field > input {
    width: 100%;
    height: 100%;

    background-color: #efefef;

    border-radius: 12px;
    outline: none;
    text-indent: 16px;

    transition: all 0.2s ease;
}

.input-field > label {
    position: absolute;
    left: 15px;
    top: 25%;

    transition: all 0.2s ease;
}

.input-field > input:focus,
.input-field> input:not(:placeholder-shown) {
    outline: 1px solid #4f39f6;
}
.input-field > input:focus + label,
.input-field> input:not(:placeholder-shown) + label {
    color: #4f39f6;
    top: -21px;
}
